:root {
    /* COLORS */
    --color-black: #000;
    --color-white: #FFF;
    --color-grey: #D6D6D6;
    --color-grey-light: #F5F5F5;
    --color-turquoise: #2EC4B6;
    --color-turquoise-med: #9CE8E0;
    --color-turquoise-light: #DEF7F6;
    /* SIZES */
    --grid-border-width: .4rem;
    --grid-height: calc(48rem - var(--grid-border-width));
    --grid-size: 16; /* Changed in script.js file. */
    --input-font-size: 2rem;
    --input-hori-padding: 2rem;
}

html { background-color: var(--color-turquoise-light); }

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    padding: 4.5rem 18rem;
}

h1 {
    color: var(--color-turquoise);
    display: inline-block;
    font-family: 'Oregano', cursive;
    font-size: 5.5rem;
    text-shadow: .3rem -.3rem var(--color-turquoise-med);
}

input {
    background-color: var(--color-turquoise);
    border-radius: .5rem;
    color: var(--color-white);
    display: inline-block;
    font-weight: 500;
    padding: 1rem var(--input-hori-padding);
    transition: transform .2s;
}

/* Shift upwards and make bigger. */
input:hover { transform: scale(1.1) translateY(-.2rem); }

/* Remove spinners from number input. */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.top-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.options-container {
    display: inline-block;
    font-size: var(--input-font-size);
}

.options-container input + input { margin-left: 2rem; }

.size-input {
    width:
        calc(
            var(--input-font-size) +
            calc(var(--input-hori-padding) * 2) +
            .75rem
        );
}

.color-input {
    font-size: inherit;
    height: 100%;
}

.clear-input { text-transform: uppercase; }

.grid {
    background-color: var(--color-white);
    border: var(--grid-border-width) solid var(--color-grey);
    margin-bottom: 2.5rem;
    width: 100%;
}

.grid__row {
    display: flex;
    /* Grid height stays constant and only number of rows/columns changes. */
    height: calc(var(--grid-height) / var(--grid-size));
    width: 100%;
}

.grid__cell {
    border: .075rem solid var(--color-grey-light);
    border-radius: .3rem;
    /* Each cell uses equal amount of space. */
    flex: 1;
}

/* Animate the way grid-cells are drawn. */
.animate-cell { animation: .2s ease-in forwards fadeIn; }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modes-container {
    display: flex;
    position: relative;
    text-align: center;
}

.mode-input {
    /* Code for hiding radio buttons (with accessibility concerns)
    https://stackoverflow.com/questions/18078871/hide-check-radio-button-with-css */
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.mode-label {
    background-color: var(--color-turquoise);
    border-radius: .75rem;
    color: var(--color-white);
    flex: 1;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    padding: 1rem 0;
    text-transform: uppercase;
}

.mode-label ~ .mode-label { margin-left: 3rem; }
